@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

*{
    font-family: Outfit;
}
/* You can add your global styles below */
.placeholder-color{
    color: bluesh;
    font-weight: 500;
}